.todo-list{
    max-width: 500px;
    margin:20px auto;
}
.btn-group{
    display: flex;
    justify-content: center;    
}
.btn-group button{
    border: none;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid white;
}
.btn-group button[status='on']{
    background-color: black;
    color: white;
}
.btn-group button[status='off']{
    background-color: white;
    color: black;
}
.switch-btn:hover{
    border: 1px solid black;
    cursor: pointer; 
 }